.container {
    max-width: 1252px;
    margin:0px var(--defaultMarginLeftAndRight);
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.top-text {
    max-width: 44rem;
    padding-bottom: 2.25rem;
    font-family: var(--primaryFont);
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.2;
}


